/* Estilos del encabezado y pie de página */
/* Aquí van los estilos CSS importados del archivo styleLanding.css de tu compañero */

/* Estilos específicos para el formulario de inicio de sesión */
body {
    font-family: "Advent Pro", sans-serif; /* Cambiamos la fuente */
    background-color: #D9D9D9; /* Cambiamos el color de fondo */
    color: black; /* Cambiamos el color del texto */
}

/* Estilos específicos para el contenedor del formulario */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos específicos para el formulario */
.login-container {
    background-color: #fff; /* Cambiamos el color de fondo */
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Estilos específicos para los input y botones */
input,
button {
    width: calc(100% - 25px); /* Ajustamos el ancho */
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007bff; /* Cambiamos el color de fondo */
    color: #fff; /* Cambiamos el color del texto */
    padding: 10px 0; /* Ajustamos el relleno */
    cursor: pointer;
}

button:hover {
    transform: scale(1.10);
}

a {
    color: #007bff; /* Cambiamos el color del enlace */
    text-decoration: none;
}

/* Añadimos estilos para el enlace "Volver" */
.volver {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
