body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.site-header {
    width: 1920px;
    height: 100px;
    flex-shrink: 0; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.menu-icon,
.search-icon,
.user-icons {
    font-size: 24px;
    margin-right: 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.user-icons {
    display: flex;
    align-items: center;
}

.user-icon,
.heart-icon,
.cart-icon {
    margin-right: 10px;
    cursor: pointer;
}

.login-container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

a {
    color: #007bff;
    text-decoration: none;
}

