* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 130vh;
    background-image: url("multimedia/fondo-landing.png");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: lighter;
    font-style: normal;
}

.advent-pro-clean {
    font-family: "Advent Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.div-contacto{
    float: left;
    margin-left: 80px;
    height: 100px;
    
}

.contacto-texto{
    font-size: 35px;
    font-family: "Advent Pro";
    margin-top: 50px;
    transform: translateY(-50%);
    color: rgb(0, 0, 0);
    font-weight: 500;
}
  
.contacto-texto::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #333;
    bottom: -2px;
    transition: width 0.3s ease-in-out;
}
  
.contacto-texto:hover::before {
    width: 100%;
}
  
.contacto-a,.contacto-a:visited{
    text-decoration: none;
    transition: all 0.2s;
}
  
.contacto-a:hover{
    opacity: 0.6; 
    transition: all 0.2s;
}
  
main {
    margin-top: 150px;
}
  
header {
    background-color: #F9F9F9;
    height: 100px;
    width: auto;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0; 
    z-index: 2;
    border-bottom: 1px solid #000;
    opacity: 0.85;
    
}
  
  
.botones-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: scale(0.65,0.65);
    float: right;
  
}
  
  
.botones-header button {
    height: 100px;
    border: none;
    transform: scale(0.7,0.7);
    vertical-align: middle;
}
  
.botones-header :hover{
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}
  
.icono-menu,.icono-buscar,.icono-carro,.icono-usuario {
    background: none;
}

.logo-marca:visited {
    color: black;
    text-decoration: none;
}
  
.marca-registrada {
    font-size: 40px;
    vertical-align:bottom;
}
  
.zephyr-grande{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: "Times New Roman";
    font-size: 80px;
    opacity: 0.9;
    vertical-align: middle;
    text-align: center;
    line-height: 50%; 
    z-index: 3;
    transform: translateX(-50%);
    top: 30px;
    left: 50%;
    position: fixed;
    opacity: "";
}
  
.zephyr-grande:hover{
    opacity: 0.65;
}
  
.zephyr-grande:active{
    opacity: 0.8;
}

html, body {
    height: 100%;
    margin: 0;
}

.container {
    flex: 1;
    display: flex;
    justify-content: center; 
    align-items: center; 
    min-height: calc(100vh - 200px); 
    font-family: "Advent Pro";
    margin-top: auto; 
    margin-bottom: auto; 
    text-align: center; 
}



.login-container {
    margin-top: 80px;
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 400px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

h1 {
    font-size: 24px;
    font-family: "Advent Pro"; 
    margin-bottom: 10px;
}

input {
    width: calc(100% - 125px); 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px;
}

.login-button {
    transition: transform 0.5s;
    background-color: #093b5d; 
    color: #fff;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.login-button:hover {
    transform: scale(1.05);
}

a {
    color: #093b5d;
    text-decoration: none;
}

.crear-cuenta:hover {
    color: #00538f; 
}

footer {
    height: max-content;
    background-color: #474747;
    color: #fff;
    padding: 20px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botones-footer {
    display: flex;
    transform: scale(0.65,0.65);
}
  
.botones-footer button {
    border: none;
    transform: scale(0.7,0.7);
    vertical-align: middle;
    background: none;
    margin-left: 10px;
}
  
.botones-footer button img{
    height: 90px; 
    width: auto;
}

.botones-footer :hover{
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}
  
.icono-instagram,.icono-facebook,.icono-tiktok,.icono-youtube {
    background: none;
    height: 100px;
}

.titulo-footer {
    display: flex;
    justify-content: center;
    font-family: "Abril Fatface";
    font-size: 150px;
    font-weight: 100;
    color: #fff;
}

.derechos {
    font-size: 20px;
    padding: 20px;
}
